@model IEnumerable<PanIQ_HintDB.Models.LogEntry>

<h2>Game Master Log</h2>

<p>
	@Html.ActionLink("New Entry", "New","Log",
		null, new { @class="btn btn-primary mx-auto" })
</p>

<div>
	<table id="log" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Date</th>
			<th>Room</th>
			<th>Puzzle</th>
			
			<th>Glitch</th>
			<th>Time</th>
			<th>Details</th>
		</tr>
		</thead>
		<tbody>
		@*@foreach (var entry in Model)
			{
				<tr>
					<td>@entry.Hint.Puzzle.Room.Name</td>
					<td>@entry.Hint.Puzzle.Name</td>
					<td>@entry.Hint.Order</td>
					<td>@entry.CustomText</td>
					<td>@entry.Glitch</td>
					<td>@entry.Bypass</td>
					<td>@entry.DateAdded.ToShortDateString() @entry.DateAdded.ToShortTimeString()</td>
				</tr>
			}*@
		</tbody>
	</table>
	
	<p></p>

</div>

@section Scripts
{
	<script>
		$(document).ready(function() {
			var table = $("#log").DataTable({
				order: [[0, 'desc']],
				"columnDefs": [
					{ "width": "15%", "targets": 0 },
					{ "width": "15%", "targets": 1 },
					{ "width": "15%", "targets": 2 },
					{ "width": "15%", "targets": 4 },
					{ "width": "10%", "targets": 5 }

				],
				ajax: {
					url: "/api/log",
					dataSrc: ""
				},
				columns: [
					{
						data: "shortDate"
					},
					{
						data: "hint.puzzle.room.name"
					},
					{
						data: "hint.puzzle.name" 
					},
					{
						data: "glitch"
					},
					{
						data: "timeAdded"
					},
					{
						data: "id",
						render: function (data, type, logentry) {
							return "<a href='/log/details/" + logentry.id + ">" + "<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='currentColor' class='bi bi-info-square icon-primary' viewBox='0 0 16 16'> \
							<path d='M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/> \
							<path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/> \
							</svg></a>";

							
						}
					}
				]
			});
		});

	</script>
}