@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PanIQ_HintDB.ViewModels.HintFormViewModel


@{
	ViewBag.Title = Model.Title;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<h2>@Model.Title</h2>




@using (Html.BeginForm("Save", "Hints"))
{
	@Html.ValidationSummary()

	<div class="mb-3">
		@Html.LabelFor(r => r.RoomId)
		@Html.DropDownListFor(r => r.RoomId,
			new SelectList(Model.Rooms, 
				"Id", 
				"Name"), 
				"Select a Room", 
				new { @class="form-control", id="roomList"})
		@Html.ValidationMessageFor(r => r.RoomId)
	</div>


	<div class="mb-3" id="PuzzleSelectDropdownDiv">
		@Html.LabelFor(p => p.PuzzleId)
		<select asp-for="PuzzleId" class="form-control" id="PuzzleSelectDropdown"></select>
	</div>


	<div class="mb-3" id="HintOrderAndText">
		<div class="mb-3">
			@Html.LabelFor(h => h.Order)
			@Html.TextBoxFor(h => h.Order, new { @class= "form-control" })
		</div>
		<div class="mb-3">
			@Html.LabelFor(h => h.Text)
			@Html.TextAreaFor(h => h.Text, new { @class= "form-control" })
		</div>
	</div>
	
	@Html.HiddenFor(h => h.Id)
	<button type="submit" class="btn btn-primary">Save</button>
}

<script>
	$(document).ready(function () {
		$("#PuzzleSelectDropdownDiv").hide();
		$("#HintOrderAndText").hide();
	});

	$("#roomList").change(function () {
		var selectedVal = $(this).val();

		$.ajax(
			{

				type: 'POST',
				dataType: 'JSON',
				url: '/Puzzles/GetPuzzlesByRoomId',
				data: { roomId: selectedVal },
				success:
					function (response) {
						console.log(response.data);
						var markup = "<option value='0'>Select a Puzzle</option>";

						for (var i = 0; i < response.data.length; i++) {
							markup += "<option value=" + response.data[i].id + ">" + response.data[i].order.toString() + ": " + response.data[i].name + "</option>";
						}
						$("#PuzzleSelectDropdown").html(markup);
						$("#PuzzleSelectDropdownDiv").show();

					},
				error:
					function (response) {
						alert("Error: " + response);
					}

			});
	});

	$("#PuzzleSelectDropdown").change(function () {
		$("#HintOrderAndText").show();
		
	});


</script>





@*https://www.youtube.com/watch?v=xgwsAHeZaX0*@