@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PanIQ_HintDB.ViewModels.HintFormViewModel


@{
	ViewBag.Title = Model.Title;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<h2>@Model.Title</h2>

@*
	TODO:
	adjust this form to contain
		1. dropdown for rooms
		2. dropdown for puzzles that populates once room is selected
		3. text box for
			hint name
			hint description
			order
			* that appears after puzzle is selected
		4. submit button to submit to form
		5. use AJAX
		

	AJAX code below will show a dropdown for rooms and
	then populate a new dropdown with the puzzles for
	that room
*@


@using (Html.BeginForm("Save", "Puzzles"))
{
	@Html.ValidationSummary()

	<div class="mb-3">
		@Html.LabelFor(r => r.RoomId)
		@Html.DropDownListFor(r => r.RoomId,
	new SelectList(Model.Rooms, "Id", "Name"), "Select a Room", new { @class="form-control", id="roomList"})
		@Html.ValidationMessageFor(r => r.RoomId)
	</div>


	<div class="mb-3" id="PuzzleSelectDropdownDiv">
		@Html.LabelFor(p => p.Name)
		<select asp-for="Id" class="form-control" id="PuzzleSelectDropdown"></select>
	</div>


	<div class="form-group" id="HintSelectionDropdownDiv">
		<label>Hint</label>
	</div>
	

	<button type="submit" class="btn btn-primary">Save</button>
}

<script>
	$(document).ready(function () {
		$("#PuzzleSelectDropdownDiv").hide();
		$("#HintSelectionDropdownDiv").hide();
	});

	$("#roomList").change(function () {
		var selectedVal = $(this).val();

		$.ajax(
			{

				type: 'POST',
				dataType: 'JSON',
				url: '/Puzzles/GetPuzzlesByRoomId',
				data: { roomId: selectedVal },
				success:
					function (response) {
						console.log(response.data);
						var markup = "<option value='0'>Select a Puzzle</option>";

						for (var i = 0; i < response.data.length; i++) {
							markup += "<option value=" + response.data[i].id + ">" + response.data[i].order.toString() + ": " + response.data[i].name + "</option>";
						}
						$("#PuzzleSelectDropdown").html(markup);
						$("#PuzzleSelectDropdownDiv").show();

					},
				error:
					function (response) {
						alert("Error: " + response);
					}

			});
	});

	$("#PuzzleSelectDropdown").change(function () {
		$("#HintSelectionDropdownDiv").show();
		var puzzle = $("#PuzzleSelectDropdown").val();
		console.log(puzzle);
	});


</script>





@*https://www.youtube.com/watch?v=xgwsAHeZaX0*@