@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PanIQ_HintDB.ViewModels.PuzzleFormViewModel

@{
	ViewBag.Title = Model.Title;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Puzzles"))
{
	@Html.ValidationSummary()

	<div class="mb-3">
		@Html.LabelFor(r => r.RoomId)
		@Html.DropDownListFor(r => r.RoomId,
			new SelectList(Model.Rooms, "Id", "Name"), "Select a Room", new { @class="form-control", id="roomList"})
		@Html.ValidationMessageFor(r => r.RoomId)
	</div>

	<div id="PuzzleTextInputForm">
		<div class="mb-3">
			@Html.LabelFor(n => n.Name)
			@Html.TextBoxFor(n => n.Name, new { @class="form-control" })
			@Html.ValidationMessageFor(n => n.Name)
		</div>

		<div class="mb-3">
			@Html.LabelFor(o => o.Order)
			@Html.TextBoxFor(o => o.Order, new { @class="form-control" })
			@Html.ValidationMessageFor(o => o.Order)
		</div>

	</div>
	@Html.HiddenFor(p => p.Id)
	<button type="submit" class="btn btn-primary">Save</button>

	@Html.ActionLink("Cancel", "Index", "Rooms", null, new { @class="btn btn-danger"})
}



<script>
	//$(document).ready(function() {
		
	//	$("#PuzzleTextInputForm").hide();
	//});

	//$("#roomList").change(function() {
	//	$("#PuzzleTextInputForm").show();
	//});
</script>





@*https://www.youtube.com/watch?v=xgwsAHeZaX0*@